body {
    margin: 0;
}

header {
    background-color: red;
    height: 5vh;
    display: flex;
}

header > a {
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 20px;
}

img {
    margin-left: 50%;
    margin-right: 50%;
}

h1 {
    text-align: center;
}