body {
    margin: 0;
}

header {
    background-color: red;
    height: 5vh;
    display: flex;
}

header > a {
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 20px;
}

.title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.name {
    margin-top: 30px;
}

img {
    display: block;
    width: 50%;
}

h1 {
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
}

.resume {
    width: 200px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    left: 50%;
    top: 0;
  }